{% load static %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8"><title>INDEX</title>
	 <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<!-- body -->
<body>
<div class="navbar_container">
	<div class="navbar_container_start" >
		<div class="navbar_component">
			<a href="/">
				<img src="{% static 'shoplogo.png' %}" loading="lazy" alt="" class="navbar_logo">
			</a>
			<a class="button-catalog" href="/catalog" style="vertical-align: 50%">
				<img src="{% static 'categories-button.png' %}" loading="lazy"  class="navbar_widelogo" >
			</a>
		</div>
	</div>

	<div class="navbar_component">
		<img src="{% static 'shop-wide-logo.png' %}" loading="lazy" alt="">
	</div>

	<div class="navbar_search">
		<form  method="post" >
		<input type="search" id="topSearch" name="q" />
		</form>
	</div>

	<div class="navbar_container_end">
		<div class="navbar_menu-buttons">
			<a id="login-btn" href="/user/login" class="button"><div style="white-space: nowrap">Log in</div></a>
			<a id="join-btn" href="/user/join" class="button">Join</a>
		</div>
	</div>
</div>
<div class="main_container">
<div class="category-container" style="max-width:512px">
	<div>category1</div>
	<div>category2</div>
	<div>category3</div>
</div>
<div class="product-container">
	<div>product1</div>
	<div>product2</div>
	<div>product3</div>
	<div>product4</div>
</div>
</div>
</body>
</html>