{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">Login</h1>
      </div>
    </div>

    <div class="container">
        <div class="form-group row d-flex justify-content-center align-items-center">
            <div class="col-xl-4">
                <form method="post" class="form mx-auto">
                    {{ form.errors }}
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Login" %}
                    {% bootstrap_button button_type="reset" content="Cancel" %}
                </form>
            </div>
        </div>
    {% for  error in form.errors %}
        <p>{{ errors }}</p>
    {% endfor %}
    </div>


{% endblock %}


