<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
     <p>Registration:</p>
      <form action = "/registration" method = "post">
         <p>Email: <input type = "email" maxlength="20" name = "email" required/></p>
         <p>Password: <input type = "password" maxlength="20" name = "password" required/></p>
         <p>By creating an account You agree to our <a href="#">Terms & Privacy</a>: <input type="checkbox" name="checkbox" required></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
</body>
</html>